.loader{
    margin: 0 0 2em;
    width: 30%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
  }
  
  .svgLoader path,
  .svgLoader rect{
    fill: #054DFC;
  }